<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ServerIP" value="192.223.29.244" />
    <add key="ServerPort" value="29070"/>
    <add key="PlayerName" value="Zabuza*"/>
    <add key="TranslatorAccountKey" value="9rJefc02QuZ9UNGf61+Q4F1oGq00J3cgql24oaS8vZU"/>
  </appSettings>

  <connectionStrings>
    <add name="TranslatorUri" connectionString="https://api.datamarket.azure.com/Bing/MicrosoftTranslator/v1/"/>
  </connectionStrings>
  
</configuration>